@media screen and (min-width: 450px) {
    h1#logo {
        font-size: 1.5em;
    }
    .fa-bars, .fa-close {
        font-size: 1.2em;
        padding: 1.2em 1.5em;
    }
    nav {
        padding-top: 4em;
    }
    ul li {
        font-size: 1.4em;
        padding: 1.3em 1.9em;
    }
    button {
        width: 75%;
        padding: 1.3em;
        font-size: 1.2em;
    }
    .contact {
        padding: 2em;
    }
    .contact i {
        font-size: 2.1em;
    }
    .line {
        width: 3.5em;
    }
    #message {
        padding: 2em;
    }
    article {
        padding: 2em 0 4em 0;
    }
    h2 {
        font-size: 2.3em;
    }
    .content {
        font-size: 1.5em;
        padding: 2em;
    }
    h3 {
        margin: 1.5em 0 0.5em 1.5em;
        font-size: 2em;
    }
    .article-3 .contact {
        margin: 0 2.5rem;
    }
    b {
        font-size: 1.5rem;
        left: 5.5rem;
    }
    footer {
        font-size: 1em;
    }
    form {
        width: 400px;
        border-radius: 15px;
        padding: 2em 0;
    }
}
@media screen and (min-width: 600px) {
    .center {
        margin: 0 auto;
        width: 90%;
    }
    .works {
        width: 75%;
    }
}

@media screen and (min-width: 768px) {
    h1#logo, .fa-bars, .fa-close {
        padding: 1.5em 3em;
    }
    .contact i {
        font-size: 2.3em;
    }
    .content {
        padding: 2em 4.5em;
    }
    h3 {
        margin: 1.7em 0 0.8em 3.5em;
        padding: 1em 1.5em;
    }
    .article-3 .contact {
        margin: 0 5.5rem;
    }
}

@media screen and (min-width: 960px) {
    .content {
        padding: 2em 7.5em;
    }
    h3 {
        margin: 1.7em 0 0.8em 5.8em;
    }
    .content {
        display: block;
        margin: 0 auto;
    }
    .article-3 .contact {
        margin: 0 9.5rem;
    }
    ul {
        display: block;
    }
    ul li {
        padding: 1.3em 2.3em;
        white-space: normal;
    }
}

@media screen and (min-width: 1200px) {
    .center {
        margin: 0 auto;
        width: 85%;
    }
}