@media screen and (min-width: 450px) {
    .nav-bar {
        padding: 0 4em;
    }
    h1#logo {
        font-size: 1.4em;
    }
    .fa-bars, .fa-close {
        font-size: 1.2em;
    }
    nav {
        padding-top: 3.2em;
    }
    ul li {
        font-size: 1.4em;
        padding: 1.5em 12%;
    }
    button {
        padding: 1.1em;
        font-size: 1.4em;
    }
    button#subscribe {
        width: 75%;
    }
    .contact {
        padding: 2em;
    }
    .contact i {
        font-size: 2.1em;
    }
    .line {
        width: 3.5em;
    }
    #message {
        padding: 2em;
    }
    article {
        padding: 2em 0 4em 0;
    }
    h2 {
        font-size: 2.3em;
    }
    .content {
        font-size: 1.5em;
        padding: 2em;
    }
    h3 {
        margin: 1.5em 0 0.5em 1.5em;
        font-size: 2em;
    }
    .article-3 .contact {
        margin: 0 2.5rem;
    }
    b {
        font-size: 1.5rem;
        left: 5.5rem;
    }
    footer {
        font-size: 1em;
    }
    form {
        width: 400px;
        border-radius: 15px;
        padding: 2em 0;
    }
}
@media screen and (min-width: 600px) {
    * {
        scroll-padding-top: 80px;
    }
    .center {
        margin: 0 auto;
        width: 90%;
    }
    .works {
        width: 75%;
    }
}

@media screen and (min-width: 768px) {
    * {
        scroll-padding-top: 100px;
    }
    h1#logo {
        padding: 2em;
    }
    div .fa-bars, div .fa-close {
        display: none;
    }
    nav {
        position: static;
        height: 0;
        overflow: visible;
        padding: 0;
        min-width: 400px;
    }
    nav ul, button, nav div {
        display: block;
    }
    .fa-bars, .fa-close {
        display: none;
    }
    button#subscribe {
        width: auto;
        box-shadow: 0 0 7px #FFFFFF;
        margin: 0;
        display: flex;
        justify-self: flex-end;
        margin-top: 1.5em;
        margin-right: 2.5em;
    }
    ul {
        padding: 0;
    }
    ul a {
        display: inline-block;
    }
    ul li {
        font-size: 1.4em;
        padding: 2em 1em;
        color: #F9DF74;
    }
    nav .contact {
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
    }
    .contact a {
        color: transparent;
    }
    .contact i {
        font-size: 2.3em;
        padding: 0.5em;
        text-align: right;
    }
    .content {
        padding: 2em 4.5em;
    }
    h3 {
        margin: 1.7em 0 0.8em 3.5em;
        padding: 1em 1.5em;
    }
    .article-3 .contact {
        margin: 0 5.5rem;
    }
}

@media screen and (min-width: 960px) {
    .nav-bar {
        justify-content: space-around;
    }
    .content {
        padding: 2em 7.5em;
        display: block;
        margin: 0 auto;
    }
    h3 {
        margin: 1.7em 0 0.8em 5.8em;
    }
    .article-3 .contact {
        margin: 0 9.5rem;
    }
    nav {
        min-width: 500px;
    }
    ul li {
        padding: 2em 1.54em;
    }
}

@media screen and (min-width: 1200px) {
    .center {
        margin: 0 auto;
        width: 85%;
        max-width: 1230px;
    }
}