/*------Visual style - Monokai-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monospace;
    scroll-behavior: smooth;
}
.nav-bar {
    background-color: white;
    border-bottom: 2px solid #00032E;
}
h1#logo {
    color: #00032E;
    font-size: 1.2em;
    padding: 1.3em 2em;
}
.fa-bars {
    color: #00032E;
}
.close {
    display: none;
}
.fa-bars, .fa-close {
    font-size: 1em;
    position: fixed;
    z-index: 5;
    right: 0;
    top: 0;
    background-color: white;
    padding: 1.2em;
}
nav {
    padding-top: 2em;
    position: fixed;
    overflow: scroll;
    top: 0;
    right: 0;
    width: 0;
    max-width: 400px;
    height: 100%;
    z-index: 4;
    background-color: #00032E;
    transition: .5s ease-in-out;
}
nav ul, button, nav div {
    display: none;
}
ul {
    display: flex;
    flex-direction: column;
    margin: 5em 0;
    background-color: none;
}
ul a {
    text-decoration: none;
    transition: 1s ease;
}
ul a:hover {
    font-weight: 100;
}
ul li {
    white-space: nowrap;
    list-style: none;
    font-size: 1.2em;
    padding: 1.3em;
    color: white;
}
ul li:focus {
    color: #000324;
    background-color: white;
}
ul li:hover {
    color: #000324;
    background-color: white;
}
ul h4 {
    display: inline-block;
}
button {
    display: block;
    margin: 1em auto;
    padding: 1em;
    font-size: 1.2em;
}
button#subscribe {
    width: 80%;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}           
button#subscribe:hover {
    box-shadow: 0 0 25px white;
    color: #000324;
    background-color: white;
}
.contact {
    padding: 1em;
    justify-content: center;
}
nav .contact {
    display: flex;
    flex-wrap: no-wrap;
}
.contact i {
    font-size: 1.7em;
    padding: 0 0.2em;
    color: #C2C2C2;
    transition: .3s ease-in-out;
}
.contact i:hover {
    transform: scale(1.3);
}
section {
    padding-top: 0;
}
.images {
    margin: 2em auto;
    width: 100%;
    max-width: 600px;
    max-height: 700px;
    text-align: center;
    overflow-y: scroll;
}
.images img {
    width: 100px;
    height: 100px;
    padding: 8px;
}
.img-display {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    display: none;
}
.display {
    width: 300px;
    height: 300px;
}
.cv {
    padding: 2em 0;
    text-align: center;
}
.cv button {
    margin: 1em;
    display: inline-block;
    width: 300px;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.cv button:hover {
    transform: scale(1.1);
}
#cv {
    background-color: white;
    color: #00032E;
    border: 2px solid #00032E;
}
#cv:hover {
    background-color: #000320;
    color: white;
}
#projects {
    background-color: #00032E;
    color: white;
    border: 2px solid #00032E;
}
#projects:hover {
    background-color: #000320;
    border: 2px solid #000320;
}
.line {
    width: 3em;
    height: 2px;
    margin: 0.5em auto;
    background-color: yellow;
}
article {
    padding: 1em 0 3em 0;
}
.article-1 {
    color: white;
    background-color: #000324;
}
a {
    text-decoration: underline;
}
a:hover {
    font-weight: bold;
}
h2 {
    font-size: 2em;
    letter-spacing: 0.3em;
    padding: 1.3em 0 0.5em 0;
    text-align: center;
}
.article-1 h2, .article-3 h2 {
    color: white;
}
.content {
    font-size: 1.2em;
    padding: 1.5em;
    line-height: 2em;
}
.article-1 a {
    color: white;
}
.article-2 {
    color: #00032E;
    background-color: white;
}
.article-2 a {
    color: #00032E;
}
.article-2 .line {
    background-color: #00032E;
}
.article-2 h2 {
    color: #00032E;
}
.article-2 img, iframe {
    width: 300px;
    height: 250px;
    margin: 1em;
    border: 2px solid #00032E;
}
h3 {
    color: #000324;
    margin: 1.5em 0 0.5em 1.2em;
    padding: 0.5em 1em;
    font-size: 1.5em;
    border-left: 4px solid #00032E;
}
.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}
.w p {
    font-size: 1em;
    text-align: center;
}
.article-3 {
    color: white;
    background-color: #00032E;
}
.contact div {
    padding: 1em;
}
.article-3 .contact {
    margin: 0 2rem;
    background-color: #000320;
    display: flex;
    flex-wrap: wrap;
}
.contact div:hover {
    background-color: #00032E;
}
.contact div:hover b {
    color: white;
}
.article-3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    text-decoration: none;
}
b {
    color: #C2C2C2;
    font-size: 1.2rem;
}
.fa-whatsapp:hover {
    color: #07B100;
}
#whatsapp:hover .fa-whatsapp {
    color: #07B100;
}
.fa-facebook:hover #facebook {
    color: white;
}
#facebook:hover .fa-facebook {
    color: #002997;
}
.fa-telegram:hover {
    color: #0074BE;
}
#telegram:hover .fa-telegram {
    color: #0074BE;
}
.fa-envelope:hover {
    color: #690001;
}
#mail:hover .fa-envelope {
    color: #690001;
}
.fa-youtube:hover {
    color: red;
}
.fa-github:hover {
    color: white;
}
#github:hover .fa-github {
    color: white;
}
footer {
    font-size: 0.7em;
    text-align: center;
    background-color: #000320;
    color: #81B3FF;
    padding: 2em 0;
    margin: 0;
}
footer p {
    display: inline-block;
}
.form {
    padding-top: 10em;
    position: fixed;
    z-index: 3;
    overflow: scroll;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0, 50%);
}
form {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #000324;
    border-radius: 10px;
    padding: 1em 1.5em 3em 1.5em;
    color: white;
    background-color: #00032E;
}
form p {
    font-size: 1.2em;
    padding: 1.5em;
    line-height: 2em;
}
input {
    padding: 1em;
    margin: 0.5em 1.5em;
    font-size: 1em;
    border: 2px solid #000324;
    border-radius: 5px;
    outline: none;
    width: 80%;
}
input[type="submit"] {
    color: white;
    background-color: #000324;
}
input[type="submit"]:hover {
    box-shadow: 0 0 10px white;
    color: white;
    background-color: #000324;
}
.gallery {
    margin: 3rem 1rem 2rem 1rem;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 1rem;
}
.gallery::-webkit-scrollbar {
    width: 15px;
}
.gallery::-webkit-scrollbar-thumb {
    background-color: #000324;
}
.gallery img {
    border-radius: 20px;
    border: 7px solid #000324;
}
