/*------Visual style - Monokai-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monospace;
    scroll-behavior: smooth;
    scroll-padding-top: 60px; /* height of your fixed navbar */
}
html {
    -webkit-text-size-adjust: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: gainsboro;
}
::-webkit-scrollbar {
    display: none;
}
:root {
    --light-shade: #F9EDCC;
    --light-shade-two: #F9DF74;
    --hero-section: #001848;
    --medium-shade: #001F54;
    --darkest-shade: #00032E;
    --icons-light: #42A5F5;
    --fa-whatsapp: #25D366;
    --fa-facebook: #1877F2;
    --fa-github: #181717;
    --fa-telegram: #0088CC;
    --fa-mail: #D93025;
    --fa-youtube: #FF0000;
}
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1400px;
    padding: 0 3em;
    background-color: var(--darkest-shade);
    display: flex;
    justify-content: space-between;
    z-index: 5;
}
#logo {
    color: var(--light-shade-two);
    font-size: 1.2em;
    padding: 1.3em 0;
}
.fa-solid, .fa-brands {
    color: var(--icons-light);
}
.fa-bars, .fa-close {
    font-size: 1em;
    z-index: 8;
    padding: 1.3em 0;
}
nav {
    padding-top: 2em;
    position: fixed;
    overflow: scroll;
    top: 0;
    right: 0;
    width: 0;
    max-width: 400px;
    height: 100%;
    z-index: 4;
    background-color: var(--darkest-shade);
    transition: .5s ease-in-out;
}
.active {
    width: 60%;
}
ul {
    padding: 2.5em 0;
}
ul a {
    text-decoration: none;
    transition: 1s ease-in-out;
}
ul a:hover {    
    font-weight: 100;
}
ul li {
    list-style: none;
    font-size: 1.2em;
    padding: 1.5em 10%;
    color: #FFFFFF;
}
ul li:hover {
    color: #FFD700;
    background-color: var(--medium-shade);
}
ul h4 {
    display: inline-block;
}
button {
    display: block;
    margin: 1em auto;
    padding: 1em;
    font-size: 1.2em;
}
button#subscribe {
    width: 80%;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    background-color: var(--hero-section);
    transition: .5s ease-in-out;
}           
button#subscribe:hover {
    box-shadow: 0 0 7px #FFFFFF;
    color: #FFD700;
    background-color: var(--medium-shade);
}
.contact {
    padding: 1em;
    justify-content: center;
}
nav .contact {
    display: flex;
}
.contact i {
    font-size: 1.7em;
    padding: 0 0.2em;
    transition: .3s ease-in-out;
}
.contact i:hover {
    transform: scale(1.3);
}
section {
    padding-top: 2em;
    background-color: var(--hero-section);
}
@keyframes change-image {
    0% {
        background-image: url(img/jerry1.jpg);
    }
    4% {
        background-image: url(img/jerry1.jpg);
    }
    8% {
        background-image: url(img/jerry2.jpg);
    }
    16% {
        background-image: url(img/jerry3.jpg);
    }
    24% {
        background-image: url(img/jerry4.jpg);
    }
    32% {
        background-image: url(img/jerry5.jpg);
    }
    40% {
        background-image: url(img/jerry6.jpg);
    }
    48% {
        background-image: url(img/jerry7.jpg);
    }
    56% {
        background-image: url(img/jerry8.jpg);
    }
    64% {
        background-image: url(img/jerry9.jpg);
    }
    72% {
        background-image: url(img/jerry10.jpg);
    }
    80% {
        background-image: url(img/jerry11.jpg);
    }
    88% {
        background-image: url(img/jerry12.jpg);
    }
    96% {
        background-image: url(img/jerry13.jpg);
    }
    100% {
        background-image: url(img/jerry1.jpg);
    }
}
.animate {
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: change-image 30s infinite;
    background-image: url(img/jerry1.jpg);
    background-position: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    min-height: 100vh;
}
.cv {
    padding: 2em 0;
    text-align: center;
    margin-bottom: 5%;
}
.cv button {
    margin: 1em;
    display: inline-block;
    width: 300px;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.cv button:hover {
    transform: scale(1.1);
}
#cv {
    background-color: var(--light-shade-two);
    color: var(--medium-shade);
    border: 2px solid var(--medium-shade);
}
#projects {
    background-color: var(--medium-shade);
    color: var(--light-shade);
    border: none;
}
.line {
    width: 3em;
    height: 2px;
    margin: 0.5em auto;
    background-color: var(--medium-shade);
}
.center {
    margin: 0 auto;
    width: 95%;
}
article {
    padding: 1em 0 3em 0;
}
.article-1 {
    color: #333333;
    background-color: #FFFFFF;
}
a {
    text-decoration: underline;
}
a:hover {
    font-weight: bold;
}
h2 {
    font-size: 2em;
    letter-spacing: 0.3em;
    padding: 1.3em 0 0.5em 0;
    text-align: center;
}
.article-1 h2, .article-2 h2 {
    color: var(--darkest-shade);
}
.content {
    font-size: 1.2em;
    padding: 1.5em;
    line-height: 2em;
}
.article-1 a {
    color: var(--medium-shade);
}
.article-2 {
    color: #3f3f3f;
    background-color: #F4F4F4;
}
.article-2 a {
    color: var(--medium-shade);
    transition: .5s ease-in-out;
}
.article-3 h2 {
    color: #FFD700;
}
.article-2 img {
    width: 250px;
    height: 200px;
    border: 4px solid var(--darkest-shade);
}
iframe {
    margin: 1em;
    width: 100%;
    height: 300px;
    max-width: 500px;
    border: 2px solid var(--darkest-shade);
}
h3 {
    color: var(--medium-shade);
    margin: 1.5em 0 0.5em 1.2em;
    padding: 0.5em 1em;
    font-size: 1.5em;
    border-left: 4px solid var(--medium-shade);
}
.works {
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: scroll;
    padding: 1em;
    width: 90%;
}
.works > div {
    margin: 0 1em;
    position: relative;
}
.works .links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    transition: .5s ease-in-out;
}
.works .links:hover {
    background-color: rgb(0, 31, 84, 80%);
}
.links a {
    text-decoration: none;
}
.links i {
    color: #757575;
    font-size: 3.3rem;
    margin: 0.7rem;
    transition: .3s ease-in-out;
}
.links .fa-youtube {
    font-size: 4rem;
}
.links i:hover {
    color: #FFFFFF;
}
.fa-youtube {
    color: var(--hero-section);
}
.fa-youtube:hover {
    color: var(--fa-youtube);
}
.works i:hover {
    transform: scale(1.2);
}
.article-3 {
    color: #FFFFFF;
    background-color: #001848;
}
.contact div {
    padding: 1em;
}
.article-3 .contact {
    margin: 0 2rem;
    background-color: #000320;
    display: flex;
    flex-wrap: wrap;
}
.contact div:hover {
    background-color: var(--darkest-shade);
}
.contact div:hover b {
    color: #FFFFFF;
}
.article-3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    text-decoration: none;
}
b {
    color: #C2C2C2;
    font-size: 1.2rem;
}
.fa-whatsapp:hover {
    color: var(--fa-whatsapp);
}
#whatsapp:hover .fa-whatsapp {
    color: var(--fa-whatsapp);
}
.fa-facebook:hover {
    color: var(--fa-facebook);
}
#facebook:hover .fa-facebook {
    color: var(--fa-facebook);
}
.fa-telegram:hover {
    color: var(--fa-telegram);
}
#telegram:hover .fa-telegram {
    color: var(--fa-telegram);
}
.fa-envelope:hover {
    color: var(--fa-mail);
}
#mail:hover .fa-envelope {
    color: var(--fa-mail);
}
.fa-github:hover {
    color: #FFFFFF;
}
#github:hover .fa-github {
    color: #FFFFFF;
}
footer {
    font-size: 0.7em;
    text-align: center;
    background-color: var(--darkest-shade);
    color: var(--light-shade);
    padding: 2em 0;
    margin: 0;
}
footer p {
    display: inline-block;
}
.form {
    padding-top: 10em;
    position: fixed;
    z-index: 3;
    overflow: scroll;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0, 50%);
}
form {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--darkest-shade);
    border-radius: 10px;
    padding: 1em 1.5em 3em 1.5em;
    color: #FFFFFF;
    background-color: var(--darkest-shade);
}
form p {
    font-size: 1.2em;
    padding: 1.5em;
    line-height: 2em;
}
input {
    padding: 1em;
    margin: 0.5em 1.5em;
    font-size: 1em;
    border: 2px solid var(--darkest-shade);
    border-radius: 5px;
    outline: none;
    width: 80%;
}
input[type="submit"] {
    color: #FFFFFF;
    background-color: var(--hero-section);
    transition: .5s ease-in-out;
}
input[type="submit"]:hover {
    box-shadow: 0 0 10px #FFFFFF;
    color: #FFD700;
    background-color: var(--medium-shade);
}